:root {
  --primary-color: #4285F4;
  --secondary-color: #34A853;
  --accent-color: #EA4335;
  --background-color: #FFFFFF;
  --text-color: #202124;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}
